<h1>To-Do List App</h1>

<div>
  <div>
    <div class="user-add">
      <div><h3>1. Agregar Usuario: </h3></div>
      <div> Correo Electronico:
        <input type="email"
               name="email"
               id="email"
               [(ngModel)]="user.email">
      </div>
      <div>
        Nombre Completo:
        <input type="name"
               name="name"
               id="name"
               [(ngModel)]="user.full_name">
      </div>
      <button (click)="addUser(user)">Agregar.</button>

    </div>
    <div class="user-to-do">
      <div><h3>2. Asignar Tarea a usuario: </h3></div>
      <div>Seleccionar Usuario:
        <div *ngIf="users.length>0">
          <select name="users"
                  id="users"
                  [(ngModel)]="idUserSelect">
            <option *ngFor="let user of users" [value]="user.id_user">
              {{user.full_name }}
            </option>
          </select>
        </div>
        <div *ngIf="users.length==0">
          No tienes Usuarios Registrados
        </div>
      </div>

      <div>Agregar Tarea:
        <textarea
          [(ngModel)]='task.description'
          rows="4" cols="20">
        </textarea>
      </div>

      <button (click)="toDoTask()">Asignar Tarea.</button>


    </div>
    <div class="task-user">
      <div><h3>3. Tareas del usuario :</h3></div>
      <div class="user-list">
        <div class="user-list" *ngFor="let userObject of users">
          - {{userObject.full_name}}
          <button (click)="listTask(userObject.id_user)">Listar Tareas.</button>
        </div>
      </div>
      <div class="task-list">
        <h4>Lista de Tareas:</h4>
        <div *ngFor="let taskObject of tasks">
           * {{taskObject.id_task}}. {{taskObject.description}}
        </div>
      </div>
    </div>
  </div>
  <div>Autor: Leonardo Rodriguez.
  </div>
</div>

