.user-add {
  border-style: solid;
  border-color: #1f26ff #0000ff;
}
.user-to-do {
  border-style: solid;
  border-color: #ff1a06 #ff0b00;
}
.task-user {
  border-style: solid;
  border-color: #00ff1e #1cff63;
}
.user-list{
  border-style: solid;
  border-color: #ff6b13 #ff7e1f;
}
.task-list{
  border-style: solid;
  border-color: #000000 #000000;
}
